<!doctype html>
<html lang="es">

<head>
  <title>Cursos PDO</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">


</head>

<body>
  
  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-primary text-light">
        <div class="row">
          <div class="col-md-6">
            <strong>Lista de cursos</strong>
          </div>

          <div class="col-md-6 text-end">
            <button class="btn btn-success btn-sm" id="abrir-modal" data-bs-toggle="modal" data-bs-target="#modalId-registro-cursos">
              <i class="bi bi-patch-plus"></i>
              Agregar curso
            </button> 
          </div>     
        </div>
        
         <!-- Fin del boton -->
      </div>
      <div class="card-body">
        <!-- Tabla -->
        <table class="table table-sm table-striped" id="tabla-cursos">
          <colgroup>
            <col width="10%">
            <col width="30%">
            <col width="25%">
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Nivel</th>
              <th>Inicio</th>
              <th>Inversión</th>
              <th>Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- Agregar datos de prueba -->
<!-- 
            <tr>
              <td>1</td>
              <td>Curso de Autocad</td>
              <td>Administración</td>
              <td>B</td>
              <td>03/04/2023</td>
              <td>200</td>
              <td>
                <a href="" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i>
                </a>
                <a href="" class="btn btn-success btn-sm">
                  <i class="bi bi-pencil"></i>
                </a>

              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Curso de Office</td>
              <td>ETI</td>
              <td>B</td>
              <td>05/05/2023</td>
              <td>350</td>
              <td>
                <a href="" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i>
                </a>
                <a href="" class="btn btn-success btn-sm">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
            </tr> -->

            <!-- Fin datos prueva -->
          </tbody>
        </table>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-primary btn-sm" id="actualizar">Actualizar Datos</button>
      </div>
    </div>
  </div>  <!-- Fin de container --> 
  
  <!-- Zona de modales -->

  <!-- Modal trigger button -->

  
  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="modalId-registro-cursos" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-light">
          <h5 class="modal-title" id="modalTitleId">Registro de Cursos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="formulario-cursos">
            <div class="mb-3">
              <labe for="nombrecurso" class="form-label">Nombre curso</labe>
            <input type="text" class="form-control form-control-sm" id="nombrecurso">
            </div>
            <div class="mb-3">
              <label for="especialidad" class="form-label">Especialidad</label>
              <select id="especialidad" class="form-select form-select-sm">
                <option value="">Selecione</option>
                <option value="ETI">ETI</option>
                <option value="Administración">Administración</option>
                <option value="Mecánica">Mecánica</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="complejidad" class="form-label">Complejidad</label>
              <select id="complejidad" class="form-select form-select-sm">
                <option value="">Selccione</option>
                <option value="B">Básico</option>
                <option value="M">Medio</option>
                <option value="A">Avanzado</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="fechainicio" class="form-label">Fecha de inicio: </label>
              <input type="date" class="form-control form-control-sm" id="fechainicio">
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio: </label>
              <input type="text" class="form-control form-control-sm" id="precio">
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-sm" id="guardar-curso">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  


  <!-- Fin zona de modales -->

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script>
    $(document).ready(function (){
      function mostrarCursos(){
        $.ajax({
          url: '../controllers/curso.controller.php',
          type: 'POST',
          data: {operacion: 'listar'},
          dataType: 'text',
          success: function(result){
            $("#tabla-cursos tbody").html(result);
          }
        });
      }

      function registrarCurso(){
        console.log("hola");
        //  Pendiente de validar...
        // alert("Hola Mundo")
        // prompt("Escribe tu nombre")
        if(confirm("¿Está seguro de registrar este nuevo curso?")){
          $.ajax({
            url: "../controllers/curso.controller.php",
            type: "POST",
            data: {
              operacion            : 'registrar',
              nombrecurso          : $("#nombrecurso").val(),
              especialidad         : $("#especialidad").val(),
              complejidad          : $("#complejidad").val(),
              fechainicio          : $("#fechainicio").val(),
              precio               : $("#precio").val()
            },
            success: function(result){
              if (result == "") {
                //  Reiniciar el formilario
                $("#formulario-cursos")[0].reset();

                //  Actualizar la tabla
                mostrarCursos();
                //  Cerrar el modal
                $("#modalId-registro-cursos").modal('hide');
              }
            }
          })
        }
        
      }

      function eliminarCurso(){
        console.log("Eliminado...")
      }

      //  Eventos
      $("#guardar-curso").click(registrarCurso);

      //  Al pulsar click sobre botón ROJO, se elimine el registro
      //  Detectaremos eventeos de lso objetos creados de manera asíncrona
      $("#tabla-cursos tbody").on("click", ".eliminar", function(){
        const idcursoEliminar = $(this).data("idcurso");
        if (confirm("¿Está seguro de proceder?")){
          $.ajax({
            url: '../controllers/curso.controller.php',
            type: 'POST',
            data: {
              operacion   : 'eliminar',
              idcurso     : idcursoEliminar
            },
            success: function(result){
              if (result == ""){
                mostrarCursos();
              }
            }
          });
        }
      });

      //  Ejecución automática
      mostrarCursos();

    });
  </script>
</body>

</html>